header.header 
    .container 
        .header_inner 
            nav.nav 
                ul.nav_list 
                    li.nav_item 
                        a(href="#").nav_link 
                            i.material-icons delete