block content  
    .card.mobile_default 
        .card_header 
            button.card_goal Цель № 2
            ul.card_icons 
                li.card_icons_item
                    button.card_icons_link(id="addElement")
                        i.material-icons edit
                li.card_icons_item 
                    button.card_icons_link(id="deleteElement") 
                        i.material-icons delete
        .card_body 
            div.card_content 
                p.card_text Должность
                h1.card_title Начальник цеха  
            div.card_content
                p.card_text Цех 
                h1.card_title ЛПЦ 11: Пятиклеевой стан холодной прокатки
                             
