block content 
    //-.criterion 
        .criterion_links  
            label.criterion_links 
                input(type="checkbox") 
                span Exсel
        .criterion_links 
            input(type="checkbox") 
            label.criterion_links 
                input(type="checkbox") 
                span Word
        .criterion_links  
            label.criterion_links 
                input(type="checkbox") 
                span Powerpoint 
        .criterion_links  
            label.criterion_links 
                input(type="checkbox") 
                span OEBS 
        .criterion_links  
            label.criterion_links 
                input(type="checkbox") 
                span Уровень владения английским 
        .criterion_links  
            label.criterion_links 
                input(type="checkbox",checked, disabled) 
                span Результаты тестирования ЕОПЗ 
        .criterion_links  
            label.criterion_links 
                input(type="checkbox",checked, disabled) 
                span Тестирование по общим вопросам 
        .criterion_links  
            label.criterion_links 
                input(type="checkbox") 
                span Тестирование по специальным вопросам 
        .criterion_links  
            label.criterion_links 
                input(type="checkbox") 
                span Результат аттестации РСС 
        .criterion_links  
            label.criterion_links 
                input(type="checkbox") 
                span Результат аттестации РСС 
        .criterion_links  
            label.criterion_links 
                input(type="checkbox") 
                span Опыт работы руководителем 
    .criterion_content(id="London") 
        h2.criterion_content_title Старший мастер 
            span.criterion_flag 
                i.material-icons assistant_photo
        .criterion_items(data-aos="fade-up", data-aos-delay="100")  
            label.criterion_links Exсel 
                input(type="checkbox", checked="checked")  
                span.criterion_checkmark 
        .criterion_items(data-aos="fade-up", data-aos-delay="200")
            label.criterion_links Word
                input(type="checkbox", checked="checked") 
                span.criterion_checkmark
        .criterion_items(data-aos="fade-up", data-aos-delay="300")  
            label.criterion_links Powerpoint
                input(type="checkbox", checked="checked") 
                span.criterion_checkmark  
        .criterion_items(data-aos="fade-up", data-aos-delay="400")  
            label.criterion_links OEBS 
                input(type="checkbox", checked="checked") 
                span.criterion_checkmark 
        .criterion_items(data-aos="fade-up", data-aos-delay="500")  
            label.criterion_links Уровень владения английским
                input(type="checkbox", checked="checked") 
                span.criterion_checkmark
        .criterion_items(data-aos="fade-up", data-aos-delay="600")  
            label.criterion_links Результаты тестирования ЕОПЗ 
                input(type="checkbox", disabled) 
                span.criterion_checkmark 
        .criterion_items(data-aos="fade-up", data-aos-delay="700")  
            label.criterion_links Тестирование по общим вопросам 
                input(type="checkbox", disabled) 
                span.criterion_checkmark 
        .criterion_items(data-aos="fade-up", data-aos-delay="800")  
            label.criterion_links Тестирование по специальным вопросам 
                input(type="checkbox", checked="checked") 
                span.criterion_checkmark 
        .criterion_items(data-aos="fade-up", data-aos-delay="900")  
            label.criterion_links Результат аттестации РСС 
                input(type="checkbox", checked="checked") 
                span.criterion_checkmark  
        .criterion_items(data-aos="fade-up", data-aos-delay="1000")  
            label.criterion_links Опыт работы руководителем 
                input(type="checkbox", checked="checked") 
                span.criterion_checkmark
                     

                        
                        